// you can change colors here
$theme-color: #2988C6;
$vp-c-accent: #2988C6;
$vp-c-accent-soft:  rgba(41, 136, 198, 0.14);
$vp-c-accent-hover: #2988C6;
$vp-c-accent-text: #2988C6;
$vp-c-accent-bg: #C66729;
